<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="cusomer" class="com.xmlpackage.Customer"></bean>

    <bean id="produser" class="com.xmlpackage.Produser"></bean>

    <bean id="serviceUser" class="com.xmlpackage.ServiceUser">
        <property name="action" ref="produser"/>
    </bean>
</beans>